<h3><%= @notice %></h3>
<table width="100%"; style="table-layout: fixed;">
  <thead>
    <tr>
      <th>作者</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |f| %>
      <tr>
        <td><%= User.find(f.user_id).username %></td>
        <td><%= f.content%></td>
      </tr>
    <% end %>
    <%= will_paginate @posts %>
  </tbody>
</table>
