<html>
  <head>
    <title> 添加留言 </title>
  </head>
  <body>
    <ul><br>
    <form action = '/' method = "get">
      Input author:<input type = "text" name = "add_Author" /><br>
      Input message:<input type = "text" name = "add_Message" /><br>
      <input type = "submit" value = "submit" />
    </form>
    </ul>
  </body>
</html>
