<title> 修改用户名 </title>
<center>
  <% if @notice %>
  <h1>after 2s,back to home page</h1>
  <meta http-equiv="refresh" content="2;url=/home" />
  <% end %>
  <br><br><br><br><br><br><br><br><br><br>
  <form action="/username" method="post">
  <h3>input new username:<input type = "text" name = "username"/></h3>
  <h3><input type = "submit" value="submit"/>
  </form>
</center>
