<title> 注册 </title>
<center>
  <% if @notice %>
  <meta http-equiv="refresh" content="2;url=/signup" />
  <% else %>
  <br><br><br><br><br>
<h3> Sign Up </h3>
  <form action = '/signup' method="post">
    username:<input type = "text" name = "username" /><br>
    password:<input type = "password" name = "password" /><br>
    <input type = "submit" value="submit" />
  </form>
  <p>Already have an account?</p>
  <a href="/login">login</a>
  <% end %>
</center>
